.radioContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vh;
  height: 30vh;
  background-color: #fff;
}

.title {
  font-family: 'Josefin Sans';
  text-shadow: 0 0 2px orange;
  text-shadow: 0 0 4px orange;
}
