@import '../../assets/variables.scss';

.panel {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 15%;
  margin-top: 40px;

  .volume {
    width: 30%;
  }
}

label {
  font-family: $FONT_FAMILY;
  font-size: 16px;
  color: $COMPLEMENTARY_COLOR;
}

input[type='range'] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: $SECONDARY_COLOR;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $COMPLEMENTARY_COLOR;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: $SECONDARY_COLOR;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $COMPLEMENTARY_COLOR;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: $SECONDARY_COLOR;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: $SECONDARY_COLOR;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid $SECONDARY_COLOR;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $COMPLEMENTARY_COLOR;
  cursor: pointer;
}
